@import "tailwindcss";  

.register, .login, .forgotPassword, .verifyOtp, .dashboardReuse{
background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent; /* lighter purple */
}

/* Thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: #4c46b5; /* darker purple */
  border-radius: 10px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c36a3;
}
